body {
    background-color: rgb(15, 76, 206);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#guess {background-color: rgb(94, 206, 20);}


#report {
    color: rgb(255, 255, 255);
}
#reset {
    visibility: hidden;
}